$base-bg: hsl(0, 0%, 90%);
$light: hsl(208, 100%, 97%);
// $light: hsl(0, 0%, 96%);
$light-alt: hsla(0, 0%, 96%, 0.55);
$transparent: hsla(0, 0%, 100%, 0.4);
$gray: hsl(0, 0%, 64%);
$gray-alt: hsl(215, 17%, 29%);
$dark: hsl(214, 51%, 8%);
$blue: hsl(216, 49%, 19%);
$blue-transparent: hsla(216, 49%, 19%, 0.4);
$green: hsl(155, 97%, 50%);
$sand: hsl(30, 70%, 55%);
$sand-dark: hsl(30, 80%, 50%);
// $alt-text-color: hsl(0, 0%, 31%);